.nav-item.nav-btn {
  margin-left:8px;
  margin-right:8px;
}

.center-all {
  text-align:center;
}

.link-style {
  color:#111;
}

.center-all.modal_link {
  text-decoration:none;
}

.more-info-btn-div {
  margin:10px;
}

.btn.btn-danger {
  width:200px;
  background-color:rgba(50,50,50,0);
  color:#323232;
}

.btn.btn-danger:hover {
  width:200px;
  background-color:rgb(217,83,79);
  color:#f2f1f1;
}

.input-fild {
  margin-top:8px;
  margin-bottom:8px;
}

.container.after-nav {
  margin-top:80px;
}

