.image-style {
  text-align:center;
}

.btn.btn-primary.btn-style {
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  color:#fff;
  background-color:#1c1a1a;
  border-radius:30px;
}

.col.item {
  margin:8px;
}

