.cover-text {
  font-size:60px;
  color:rgb(227,232,237);
  letter-spacing:10px;
}

.cover-para {
  font-size:25px;
  color:#fff;
}

.container-fluid.about-me {
  padding:80px;
  background-color:#38dcc8;
  color:#fff;
}

.container.git-hub {
  padding:80px;
}

.git-btn-div {
  text-align:center;
}

.btn.btn-dark {
  width:200px;
}

.btn.btn-info {
  width:200px;
}

